# Travis CI can clone repositories to a maximum depth of 5 commits
git:
  depth: 5

cache:
  yarn: true

language: node_js
node_js:
  - '10'
  - v11
  - v10
  - v8
after_script: cat ./coverage/lcov.info | coveralls

env:
  - TEST_DIR=./packages/generator-custom-element

script: cd $TEST_DIR && npm install && npm test
